name: Pull Request Checks

on:
  pull_request:
jobs:
  ci:
    runs-on: ubuntu-latest
    name: verify buildable state
    steps:
      - name: checkout repository
        uses: actions/checkout@v2

      - name: setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: install dependencies
        run: npm ci

      - name: check formatting
        run: npm run prettier:check

      - name: check mdx format for docusaurus v3 compatibility 
        run: npx docusaurus-mdx-checker

      - name: build website
        run: npm run build
